# For GPIO control on Raspberry Pi
RPi.GPIO

# Core GUI framework
#remove:PyQt5

# Serial communication (e.g., with Arduino)
pyserial

# Video processing (used in video player for camera)
# remove:opencv-python

# Video playback library (used in video player)
python-vlc

#pip install --upgrade pip setuptools wheel

#sudo apt-get update
#sudo apt-get install build-essential python3-dev qtbase5-dev qttools5-dev libqt5svg5-dev sip-build libqt5x11extras5-dev libxcb-xinerama0-dev
#sudo apt-get install python3-pyqt5 python3-pyqt5.qtmultimedia python3-pyqt5.qtmultimediawidgets
#remove: sudo apt-get install python3-opencv

#pip cache purge

#pip install sip-build
